// Color
color-background = #1d1f21
color-font = #c9cacc
color-meta = #c9cacc
color-border = #c9cacc
color-link = #c9cacc

// Font
font-default = "明瞭體", "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = "明瞭體", Monaco, Menlo, Consolas, Courier New, monospace
font-title = "明瞭體", "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("//fonts.googleapis.com/css?family=Lato:400,400italic")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px